<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quanly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Quanly.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>UY8cn/lI6Y9HeV3Y6bvdLslI0Bqpp05+LOmlSg1hFu+S0d8p3jZae8LBxI6lueAOP0XDmOybWLQQkfeOYuC43hn0YetSGt9T/K1RMTZpv0SPE7OK+ECmeqlkMoLMC36286NCZ/FDVUEhX8JWEvNjSSyMZllbn/YfIlSUAKlL+wlMyi1Vk+Q+Mp7PUaaTfmdWLR7wBNWwVLkA8HpSlqthEA==</value>
            </setting>
        </Quanly.Properties.Settings>
    </userSettings>
</configuration>